<h1>Categories Admin Page</h1>

<form>
  <label>NAME:</label>
  {{input value=newCategoryName}}
  <button type="submit" {{action 'addNewCategory' newCategoryName}}>Add</button>
</form>

<ul>
  {{#each model as |category|}}
  <tr>
    <td>{{category.id}}</td>
    <td></td>
    <td {{action 'editCategory' category}}>
      {{#if category.isEditing}}
        {{input value=category.name}}
        <button {{action 'updateCategory' category}}>Save</button>
      {{else}}
        {{category.name}}
      {{/if}}
    </td>
    <td>
      <button class="btn btn-xs btn-danger" {{action 'deleteCategory' category}}>Del</button>
      <button class="btn btn-xs btn-success" {{action 'editCategory' category}}>Edit</button>
    </td>
  </tr>
  {{/each}}
</ul>

Category Counter: {{model.length}}
